# Versions frozen after `pip install -r requirements.in -c constraints.docker`
# under balenalib/jetson-nano-ubuntu:bionic
asn1crypto==0.24.0
attrs==17.4.0
backcall==0.2.0
colorama==0.4.4
commonmark==0.9.1
cryptography==2.1.4
cycler==0.10.0
Cython==0.26.1
dataclasses==0.7
decorator==4.1.2
filterpy==1.4.5
idna==2.6
ipdb==0.13.4
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.18.0
Jetson.GPIO==2.0.8
joblib==0.11
keyring==10.6.0
keyrings.alt==3.0
matplotlib==2.1.1
norfair==0.1.8
nose==1.3.7
numpy==1.13.3
olefile==0.45.1
opencv-python==3.2.0
paho-mqtt==1.5.1
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==5.1.0
pluggy==0.6.0
prompt-toolkit==3.0.15
ptyprocess==0.7.0
py==1.5.2
pycrypto==2.6.1
pyds==1.0.1
Pygments==2.7.4
pygobject==3.26.1
pyparsing==2.2.0
pytest==3.3.2
python-dateutil==2.6.1
pytz==2018.3
pyxdg==0.25
PyYAML==5.4.1
rich==6.2.0
scikit==0.19.1
scikit-learn==0.19.1
scipy==0.19.1
SecretStorage==2.3.1
simplejson==3.13.2
six==1.11.0
tensorrt==7.1.3.0
traitlets==4.3.3
typing-extensions==3.7.4.3
wcwidth==0.2.5